* {
    // font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    text-decoration: none;
}
body {
    height: 1250px;
    position: relative;
}
.title {
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin-top: 2rem;
}
.thong-bao {
    color: red !important;
}

.copyright {
    position: absolute;
    bottom: 5%;
    right: 5%;
}

@import "./variables";
@import "./layout-nav";
@import "./layout-tab-content.scss";
